#SignIn .dialog {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#SignIn h2 {
  margin-bottom: 2rem;
}


#SignIn input {
  display: block;
  margin: auto;
  width: 20rem;
  padding: 3px 6px;
  margin-bottom: 1rem;
}


#SignIn button {
  padding: 3px 6px;
}

#demo-credentials {
  list-style-type: none;
  width: 20rem;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: left;
}
