.Container {
  width: 750px;
  margin: auto;
}

.FeedList {
  list-style-type: none;
  /* padding: 1rem; */
  background-color: #ffffff;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.FeedList li {
  border-bottom: 1px solid #dadada;
}

.FeedList .FeedItem {
  padding: 0.25rem;
  padding: 1rem;
}

.FeedItemMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.FeedItemAuthor {
  font-weight: bold;
}

.FeedItemDate {
  color: #707070;
  font-size: 0.9rem;
}


.FeedItemBody {}
