#NoteList {
  list-style-type: none;
  background-color: #ffffff;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

#NoteList li {
  display: flex;
  border-bottom: 1px solid #dadada;
}

.NoteContent {
  flex-grow: 1;
  padding: 1rem;
}

.NoteContent.editable {
  background-color: #fbefb3;
}

.NoteMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.NoteAuthor {
  font-weight: bold;
}

.NoteDate {
  color: #707070;
  font-size: 0.9rem;
}

.NoteBody {}

.NoteControls {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #dadada;
}

.NoteControls button {
  padding: 3px 6px;
  width: 100%;
}

textarea {
  resize:none;
  width: 100%;
  padding: 6px;
}

select {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
