#Home .Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#Home p {
  padding: 0 1.5rem;
  line-height: 1.5;
  font-size: 1rem;
  padding: 3rem 2rem 4rem 2rem;
}
